node_modules
.env
.firebase-admin-key.json
.firebase-admin-prod-key.json
.openzeppelin
.openzeppelin.backup-before-upgrade
.openzeppelin-old
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
